.products {
  margin-top: -468px;
  padding-top: 40px;
  padding-bottom: 47px;
  background-color: #fff;

  @include vp--767 {
    padding-bottom: 40px;
  }

  .h2 {
    text-align: center;
    margin-bottom: 37px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 40px;
    width: 97%;
    margin: 0 auto;

    @include vp--767 {
      flex-direction: column;
    }
  }

  &__img-wrap {
    margin: 0 auto;

    @include vp--767 {
      width: 60%;
      height: 219px;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  &__item {
    width: 33.3%;
    height: 495px;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
    border: 1px solid $lavender-color;
    transition: $trans--300;

    @include vp--1023 {
      padding-left: 12px;
      padding-right: 12px;
    }

    @include vp--767 {
      width: 100%;
    }

    &:hover {
      background-color :$white-smoke-color;
    }

    img {
      width: 379px;
      height: 219px;
      object-fit: cover;

      @include vp--1023 {
        margin-bottom: 16px;
        width: 100%;
        height: 219px;
      }

      @include vp--767 {
        margin: 0 auto;
      }
    }
  }

  &__subtitle {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  &__info {
    width: 100%;
    margin-bottom: 12px;

    @include vp--1023 {
      width: 96%;
    }

    @include vp--767 {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  td {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: none;
  }

  .button {
    padding: 10px 26px;
    width: 100%;
    display: block;
    text-align: center;
  }

  .container {
    @include vp--1023 {
      padding: 0 16px;
    }
  }
}
