.promotion-timer
  .h2.promotion-timer__title До конца акции осталось:
  .timer
    .timer__block
      span(id="days") 12
      | дней
    .timer__block
      span(id="hours") 8
      | часов
    .timer__block
      span(id="minutes") 15
      | минут
    .timer__block
      span(id="seconds") 20
      | секунд
